@font-face {
	font-family: 'Mali';
	src: url('/assets/fonts/Mali-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Mali';
	src: url('/assets/fonts/Mali-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mali';
	src: url('/assets/fonts/Mali-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mali';
	src: url('/assets/fonts/Mali-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Mali';
	src: url('/assets/fonts/Mali-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/assets/fonts/GeistMono-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/assets/fonts/GeistMono-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/assets/fonts/GeistMono-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/assets/fonts/GeistMono-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/assets/fonts/GeistMono-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
