select,
input:not([type='checkbox']):not([type='image']):not([type='radio']) {
	position: relative;
	appearance: none;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	font-size: 10px;
	border: solid 1px #ccc;
	box-shadow: none;
	min-width: 100px;
}

input[type='checkbox'],
input[type='radio'] {
	width: 16px;
	height: 16px;
	accent-color: var(--color-primary);
}

select,
.options select {
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-y: 30%;
	background-position-x: calc(100% + 2px);
	width: fit-content;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.icon {
	background: var(--color-primary);
}

input[value='Save']:not(:disabled) {
	background: color-mix(in srgb, var(--color-green), white 75%);
}

input[name='drop']:not(:disabled) {
	background: color-mix(in srgb, var(--color-red), white 75%);
}
